# This .gitignore file lists content that does not need to be tracked in the project history

# Python virtual environment
.venv/

# VS Code settings and workspace
.vscode/

# Compiled Python file
__pycache__/

# Ignore Ch 10 practice
ch10-practice/
ch15-practice/